src/main/resources/RuneLight.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://org.runelight"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
		   targetNamespace="http://org.runelight">
			   
	<!-- 
	Staff Center
	-->
	
	<xs:complexType name="IPDateDTO">
		<xs:sequence>
			<xs:element name="ip" 			type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="date" 		type="xs:string" 	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SessionDetailsDTO">
		<xs:sequence>
			<xs:element name="ip" 			type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="startDate" 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="endDate"	 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="startMod" 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="currentMod"	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="startDest" 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="currentDest"	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="secure"	 	type="xs:boolean"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AccountDetailsDTO">
		<xs:sequence>
			<xs:element name="accountId"			type="xs:int"				minOccurs="1" maxOccurs="1" />
			<xs:element name="username" 			type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="formattedUsername" 	type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="ageRange" 			type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="country" 				type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="creationDate" 		type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="creationIP" 			type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="lastLoginDate" 		type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="currentIP" 			type="xs:string" 			minOccurs="1" maxOccurs="1" />
			<xs:element name="staff"	 			type="xs:boolean"			minOccurs="1" maxOccurs="1" />
			<xs:element name="fmod"		 			type="xs:boolean"			minOccurs="1" maxOccurs="1" />
			<xs:element name="pmod"		 			type="xs:boolean"			minOccurs="1" maxOccurs="1" />
			<xs:element name="passwordChangeList"	type="IPDateDTO"			minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="sessionList"			type="SessionDetailsDTO"	minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="loginAttemptList"		type="IPDateDTO"			minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AccountListDTO">
		<xs:sequence>
			<xs:element name="currentPage"		type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="pageCount"		type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="usernameSearch"	type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="ipSearch"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="accountList"		type="UserDTO"		minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="sort"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="sortDir"			type="xs:string"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TicketDTO">
		<xs:sequence>
			<xs:element name="id" 			type="xs:int" 		minOccurs="1" maxOccurs="1" />
			<xs:element name="topicId" 		type="xs:int" 		minOccurs="1" maxOccurs="1" />
			<xs:element name="title" 		type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="date" 		type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="message" 		type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorName" 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorIP" 	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorId" 	type="xs:int" 		minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TicketQueueDTO">
		<xs:sequence>
			<xs:element name="id" 			type="xs:int" 		minOccurs="1" maxOccurs="1" />
			<xs:element name="title"		type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorId" 	type="xs:int" 		minOccurs="1" maxOccurs="1" />
			<xs:element name="authorName"	type="xs:string" 	minOccurs="1" maxOccurs="1" />
			<xs:element name="date" 		type="xs:string" 	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
		
		   
	<!-- 
	Misc Accounts
	-->
	
	<xs:complexType name="UserDTO">
		<xs:annotation>
			<xs:documentation>
				Used for Logging in, as well at in the Staff Center account list.
			</xs:documentation>
		</xs:annotation>
		
		<xs:sequence>
			<xs:element name="accountId"			type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="username"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="formattedUsername"	type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="passwordHash"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="passwordSalt"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="currentIP"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="creationDate"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="creationIP"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="staff"	 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="fmod"		 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="pmod"		 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
		
		   
	<!-- 
	News
	-->
	
	<xs:complexType name="NewsItemDTO">
		<xs:sequence>
			<xs:element name="id"			type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="title"		type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="date"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="category"		type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="iconName"		type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="description"	type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="body"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="nextId"		type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="prevId"		type="xs:int"		minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="NewsListDTO">
		<xs:sequence>
			<xs:element name="newsList"		type="NewsItemDTO"	minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="currentPage"	type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="pageCount"	type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="categoryId"	type="xs:int"		minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
		
		   
	<!-- 
	Accounts
	-->
	
	<xs:complexType name="UserSessionDTO">
		<xs:sequence>
			<xs:element name="accountId"			type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="username"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="formattedUsername"	type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="staff"	 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="fmod"		 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="pmod"		 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="iP"					type="xs:string"	minOccurs="1" maxOccurs="1" />
			
			<xs:element name="sessionId"			type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="sessionHash"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="secure"	 			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="mod"					type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="dest"					type="xs:string"	minOccurs="1" maxOccurs="1" />
			
			<xs:element name="unreadMessages"		type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="supportQueries"		type="xs:int"		minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SessionCheckDTO">
		<xs:sequence>
			<xs:element name="sessionId"	type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="secure"	 	type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="endDate"		type="xs:string"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CreateAccountDTO">
		<xs:sequence>
			<xs:element name="ageRange"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="countryCode"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="username"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="formattedUsername"	type="xs:string"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
		
		   
	<!-- 
	Ticketing
	-->
	
	<xs:complexType name="MessageQueueDTO">
		<xs:sequence>
			<xs:element name="messageId"	type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="title"		type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="date"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="messageNum"	type="xs:int"		minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MessageViewDTO">
		<xs:sequence>
			<xs:element name="messageId"			type="xs:int"		minOccurs="1" maxOccurs="1" />
			<xs:element name="title"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="date"					type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="message"				type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorName"			type="xs:string"	minOccurs="1" maxOccurs="1" />
			<xs:element name="authorStaff"			type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="read"					type="xs:boolean"	minOccurs="1" maxOccurs="1" />
			<xs:element name="includeTitleInMsg"	type="xs:boolean"	minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InboxDTO">
		<xs:sequence>
			<xs:element name="receivedMessageList"	type="MessageQueueDTO" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="sentMessageList"		type="MessageQueueDTO" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="readMessageList"		type="MessageQueueDTO" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ThreadDTO">
		<xs:sequence>
			<xs:element name="id"				type="xs:int"			minOccurs="1" maxOccurs="1" />
			<xs:element name="mainMessageId"	type="xs:int"			minOccurs="1" maxOccurs="1" />
			<xs:element name="messageCount"		type="xs:int"			minOccurs="1" maxOccurs="1" />
			<xs:element name="title"			type="xs:string"		minOccurs="1" maxOccurs="1" />
			<xs:element name="canReply"			type="xs:boolean"		minOccurs="1" maxOccurs="1" />
			<xs:element name="messageList"		type="MessageViewDTO"	minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>